#wrapper{
    max-width: 960px;
    margin:auto;
}

#footer{
    max-width: 960px;
    margin: auto;
    text-align:center;
}

*{
    padding: 0;
    margin:0;
}

li{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
}

h1, h3, h4{
    text-align: center;
}

header{
    padding: 22px 0;
}

.header-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a{
    border: 2px double black;
    /*background-color: #5fe7ff;*/
    color: #000000;
    font-size: 16px;
    margin-right: 30px;
    padding: 13px 6px;
}

#logo a{
    border: none;
}

ul{
    display: flex;
}

.search{
    display: flow;
    margin-top:30px;
}

nav{
    margin-top: 5px;
}

.main-menu{
    margin-top: 10px;
}

#content {
    position:relative;
    padding: 0 0 0 10px;
    width: 960px;
}

#page{
    position: relative;
    width: 960px;
    padding: 20px 40px 0 40px;
    margin: 0;
}
#overviewInner {
    padding: 6px 6px;
    width: 850px;
    text-align: left;
}

#overviewHeroLeft{
    float: left;
    width: 270px;
}

.heroIcon{
    width: 243px;
    height: 280px;
    position: relative;
    margin-bottom: 14px;
}

#heroOverviewPrimaryStats {
    width: 270px;
    height: 126px;
    position: relative;
}

#overviewIconInt {
    position: absolute;
    left: 6px;
    top: 5px;
    z-index: 5;
}

.overviewStatVal {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}

#overviewIntVal {
    top: 14px;
    left: 47px;
}

#overviewIconAgi {
    position: absolute;
    left: 6px;
    top: 47px;
    z-index: 5;
}

#overviewAgiVal {
    top: 54px;
    left: 47px;
}

#overviewIconStr {
    position: absolute;
    left: 6px;
    top: 87px;
    z-index: 5;
}

#overviewStrVal {
    top: 94px;
    left: 47px;
}

#overviewIconAttack {
    position: absolute;
    left: 124px;
    top: 5px;
}

#overviewAttackVal {
    top: 14px;
    left: 178px;
}

#overviewIconSpeed {
    position: absolute;
    left: 117px;
    top: 43px;
}

#overviewSpeedVal {
    top: 54px;
    left: 178px;
}

#overviewIconDefense {
    position: absolute;
    left: 122px;
    top: 82px;
}

#overviewDefenseVal {
    top: 94px;
    left: 178px;
}

#overviewHeroAbilities {
    float: left;
    width: 565px;
}

.overviewAbilityRow {
    margin-bottom: 4px;
}

.abilityIconHolder {
    width: 99px;
    height: 99px;
    position: relative;
    float: left;
    margin-right: 4px;
}

.overviewAbilityRowDescription {
    width: 462px;
    float: left;
}

#page-bottom{
    padding-top: 30px;
    width: 960px;
    text-align: center;
}

#page-bottom li{
    color: #000000;
    font-size: 16px;
    margin-right: 30px;
    padding: 13px 60px;
}

#page-bottom a{
    color: black;
}

.comment{
    text-align: center;
}

#edit{
    position: relative;
    display: flex;
    float: right;
}

#editHero{
    display: flex;
}

#box{
    position: relative;
    width: 960px;
}

.login-form input {
    height:20px;
    width:220px;
    padding:5px 8px;
    margin: 0 auto;
    display: block;
}
.login-form button {
    height:30px;
    width:240px;
    margin: 0 auto;
    display: block;
}

.login-form p{
    text-align: center;
}

#comments{
    padding: 10px 0;
    width: 850px;
    text-align: left;
    display: inline-block;
}

.singleComment{
    display: flex;
    width: 850px;
    margin: 50px 0;
    border: 1px solid purple;
}

.overviewCommentLeft{
    float: left;
    width: 270px;
}

.overviewCommentRight{
    text-align: right;
    float: right;
    width: 565px;
}
#comment textarea{
    width: 850px;
    height: 100px;
}

#comment button{
    float: right;
}

#itemsHeader {
    padding: 8px 10px;
    height: auto;
    display: inline-grid;
}

#itemTopRow {
    margin-bottom: 5px;
}

.largeItemImg {
    float: left;
    clear: both;
    width: 182px;
    height: 138px;
    border: solid #242424 3px;
    margin-right: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.itemBoxDetails {
    float: left;
}

#itemsHeader .itemName {
    margin-left: 5px;
    font-size: 18px;
    font-family: KoreanFont,georgia,serif;
    text-transform: uppercase;
}

.goldIcon {
    float: left;
    margin: 2px 4px 0 5px;
}

.goldCost {
    font-weight: bold;
    color: #f5c433;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.detailBoxCol {
    float: left;
    width: 450px;
    margin: 10px;
    font-size: 14px;
    line-height: 17px;
}

.searchResult{
    display: inline-block;
    width: 50px;
    margin: 10px 10px;
    height: 50px;
}

.heroHeader h1{
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: Century;
}

table {
    width: 900px;
    text-align: center;
    border: 1px solid grey;
}

th{
    border: 1px solid grey;
}

td{
    border: 1px solid grey;
}

.showUsers a{
    position: relative;
    float: right;
    display: inline-block;
    text-decoration: none;
    color: purple;
    font-size: 20px;
    border: 1px solid purple;
}

.none{
    display: none;
}

.article {
    background: #FFF;
    border: 1px solid rgba(0, 89, 181, 0.82);
    width: 600px;
    margin: 0 0 5px;
    box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
    padding: 3px 5px;
}

.newsAuthor {
    text-decoration: underline;
    color: #007DDC;
}
.newsText {
    margin: 10px 0 0 0;
    display: block;
}

.testInput {
    margin: 0 5px 5px 0;
}

.add {
    margin: 0 5px 5px 0;
    width: 210px;
    border: 1px dashed rgba(0, 89, 181, 0.82);
    padding: 5px;
}
.addAuthor, .addText, .addBtn, .addCheckrule {
    display: block;
    margin: 0 0 5px 0;
    padding: 5px;
    width: 94%;
    border: 1px solid rgba(0, 89, 181, 0.82);
}
.addCheckrule {
    border: none;
    font-size: 12px;
}
.addBtn {
    box-sizing: content-box;
    color: #FFF;
    text-transform: uppercase;
    background: #007DDC;
}
.addBtn:disabled {
    background: #CCC;
    color: #999;
}
